---
label: 'Viewing and managing actions'
top_level: true
related:
  - system.cron_settings
  - queue_ui.overview_form
---
{% set ui_project_page = 'https://www.drupal.org/project/queue_ui' %}
<h2>{% trans %}About Queue Order module{% endtrans %}</h2>
<p>{% trans %}This is the module that provide functionality of sorting queue workers definitions. That causes an effect on queue execution order during cron run.{% endtrans %}</h2>
<h2>{% trans %}Configuration{% endtrans %}</h2>
<p>{% trans %}Weight value of queue worker can be defined in the "weight" property of the queue worker definition.{% endtrans %}</p>
<p>{% trans %}All defined queue workers have default weight value that equal to "0".{% endtrans %}</p>
<p>{% trans %}To override default queue worker weight property value use "order" property of "queue_order.settings" config object.{% endtrans %}</p>
<p>{% trans %}All overridden weight values of queue workers stored in "order" property of "queue_order.settings" config object.{% endtrans %}</p>
<p>{% trans %}It contains key - value array, where key is the id of queue worker, value - the weight value.{% endtrans %}</p>
<p>{% trans %}To manage queue worker definitions order overrides use the <a href="{{ ui_project_page }}">Queue UI module</a>.{% endtrans %}</p>
<p>{% trans %}Kindly refer the README.md file for more details.{% endtrans %}</p>
